In [2]:
a = int(input())
b=int(input())
print(a//b)
print(a/b)

1
2
0
0.5

In [5]:
num = int(input())
for n in range(0,num):
    print(n**2)

5
0
1
4
9
16

In [45]:
def is_leapYear(year):
    leap = False
        if year%4==0:
            if year%100==0 and year%400!=0:
                leap = False
            else:
                leap = True
        else:
            leap = False
    return leap

In [47]:
print(is_leapYear())

True

In [60]:
import numpy as np
n,m= map(int, input().split())
a,b = (np.array([input().split() for _ in range(n)], dtype=int) for _ in range(2))

1 2

In [65]:
np.array([input().split() for _ in range(n)],dtype=int)

1 2 3 4
12 3 4 5

array([['1', '2', '3', '4'],
       ['12', '3', '4', '5']],
      dtype='<U2')

In [81]:
N,M = map(int,input().split())
A = np.array([input().split()],int)
B = np.array([input().split()],int)
print(A+B,'\n',A-B,'\n',A*B,'\n',A/B,'\n',A%B,'\n',A**B)

1 2
1 2 2
1 2 3
[[2 4 5]]
 [[ 0  0 -1]] [[1 4 6]] [[ 1.          1.          0.66666667]] [[0 0 2]] [[1 4 8]]

In [82]:
print(A+B,'\n',A-B,'\n',A*B,'\n',A/B,'\n',A%B,'\n',A**B)

[[2 4 5]]
 [[ 0  0 -1]]
 [[1 4 6]]
 [[ 1.          1.          0.66666667]]
 [[0 0 2]]
 [[1 4 8]]

In [87]:
m,n = (input().split())
print('m is:',m);print('n is:',n)

2 +9 3
m is: <class 'int'>
n is: ['2', '+9', '3']

In [96]:
str  = 'hello world'
print(str.center(80,'-'))

----------------------------------hello world-----------------------------------

In [98]:
print(str.zfill(23))

000000000000hello world

In [101]:
str.find('wo')

6

In [107]:
a = ["1","2",'3']
c= '/'.join(a);c

'1/2/3'

In [111]:
"a".join('*_^')

'*a_a^'

In [116]:
'-'.join(a)

'1-2-3'

In [124]:
c.split('/',1)

['1', '2/3']

In [126]:
f = '       hello     '.strip()
f

'hello'

In [133]:
s = 'test '
3*s

'test test test '

In [152]:
a = []
type(a)

list

In [158]:
a.append(input())

1 2 3

In [163]:
numbers = [1,2,3,4,5]
doubled_odds = map(lambda n: n * 2, filter(lambda n: n % 2 == 1, numbers))

In [174]:
a = [map(lambda n:n*2,filter(lambda n:n%2==1,numbers))]

In [175]:
print(a)

[<map object at 0x114ee84e0>]

In [176]:
doubled_odds = [n * 2 for n in numbers if n % 2 == 1]

In [177]:
print(doubled_odds)

[2, 6, 10]